<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">



@*INPUTLARDAKI NAME KISIMLARINA DİKKAT EDELİM ONLAR ENTITYLERDEKİYLE AYNI OLMALI*@
<style>
    .bg{
        background-image: url(https://forum.pardus.org.tr/uploads/default/original/2X/1/10bcd9abdf82084b265baac0d01c067fa474e1b9.jpeg)
    }
   .cardbg{
       background-color:royalblue;
   }
  
</style>
<body class="bg">
<div class="container">
    <div class="row">
        <div class="card mt-5 d-flex justify-content-center cardbg"style="width:30%">
        <div class="col-12  mt-5 d-flex justify-content-center">
                
        <form method="post" asp-action="GirisYap" asp-controller="Login">
    <div class="mb-3">
        <label for="kullaniciadi" class="form-label font-weight-bold text-white">Kullanıcı</label>
        <input type="text" style="width:100%" class="form-control" name="Kullanici" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
                            <label for="sifre" class="form-label font-weight-bold text-white">Şifre</label>
     <input type="password" style="width:100%" class="form-control" name="sifre">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input font-weight-bold" name="benihatirla">
        <label class="form-check-label text-white" for="benihatirla ">Beni Hatırla</label>
    </div>
     <button type="submit" style="width:100%"  class="btn btn-primary mb-3 align-content-center">Submit</button>
</form>
        </div>
            </div>
     
    </div>
</div>

        <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>